{% extends "Templates/default.twig" %}

{% block content %}
    {{ helpers.createBreadcumb(breadcumbs) }}
    <section>
        <div class="row">
            <div class="col-1 leftside">
                <div class="box submenu">
                    <h2 class="blue">Aktualitások</h2>

                    {% set defItem = news.records[0].ne_id %}
                    {% include 'News/_parts/menu.twig' %}

                </div>
                {% include 'Templates/block/aruhazkereso.twig' %}
                {% include 'Templates/block/bizalomkartya.twig' %}
            </div>

            <div class="col-3 content">
                <div class="box p15px" style="margin-bottom: 20px">
                    <h1 class="blue">Hírek</h1>
                        <div class="row newsList">
                            <div class="col-4 item big">
                                <a href="{{ url('newsDetails',{type: newsfirst.news_type.nt_slug, slug: newsfirst.ne_slug}) }}">{% if newsfirst.files.pics|length %}<img src="{{ newsfirst.files.getDefaultPic().thumbs.getThumb(250,120) }}" alt="">{% endif %}</a>
                                <div>
                                    <a href="{{ url('newsDetails',{type: newsfirst.news_type.nt_slug, slug: newsfirst.ne_slug}) }}" class="title">{{ newsfirst.ne_title }}</a>
                                    <p>{% autoescape false %}{{ newsfirst.ne_desc|shortest(300) }}{% endautoescape %}</p>
                                    <a href="{{ url('newsDetails',{type: newsfirst.news_type.nt_slug, slug: newsfirst.ne_slug}) }}" class="more green"><i class="icon-icons-13"></i>Tovább olvasom</a>
                                </div>
                            </div>
                        </div>

                    {% for block in newsothers.records|chunk(3) %}
                        <div class="row newsList">
                            {% for item in block %}
                                    {% include 'News/_parts/list_small.twig' %}
                            {% endfor %}
                        </div>
                    {% endfor %}

                    {% html.createPager newsothers.page,newsothers.max,url('news'),{news:true,bottom: true, perpage: newsothers.limit, recordsNum: newsothers.recordsNum} %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}